.filters {
  padding: 20px;
  background-color: #171717;
  color: #ffffff;
}

.accordion {
  margin-bottom: 20px;
}

.accordion button {
  display: block;
  background: #ffffff;
  color: #171717;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  cursor: pointer;
}

.accordion button:hover {
  background-color: #eaeaea;
}

.applyButton {
  background-color: #28a745; /* Verde */
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.applyButton:hover {
  background-color: #218838;
}
