/* app/styles/Home.module.css */
.container {
  display: flex;
}

.filters {
  width: 20%;
}

.dishes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.sidebar {
  width: 20%;
}
